= form_for @zombie do |f|
	-if @zombie.errors.any?
		%h3= "#{pluralize(@zombie.errors.count, "error")} prohibited this zombie from being saved:"
		%ul
		- @zombie.errors.full_messages.each do |msg|
			%li= msg
	%table
		%tr
			%td=f.label :name
			%td=f.text_field :name
		%tr
			%td=f.label :graveyard
			%td=f.text_field :graveyard
		%tr
			%td=f.label :description
			%td=f.text_area :description, :cols=>24, :rows=>5
	
	=f.submit 'save'	