%h2 Details about #{@zombie.name}
%ul
	%li
		Name :
		=@zombie.name
	%li
		Graveyard :
		=@zombie.graveyard

%h3 Description
%p=@zombie.description
%table
	%tr
		%td=link_to 'edit', edit_zombie_path(@zombie)
		%td=link_to 'delete', @zombie, :confirm=>"are you sure?" , :method=>:delete
		%td=link_to 'zombies list', zombies_path
	
	
	 

